@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


* {
  padding: 0;
  margin: 0;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}

.info {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

.cards {
  padding: 1.5rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.container {
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  overflow: hidden;
}
